/*	HEADER 2
/*----------------------------------------------------*/
#header-2 {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 999;
}

#header-2 .brand-img {
	float: none;
	position: relative;
	/*left: 100px;*/
	top: 10px;
	/*margin-left: 30px auto;*/
	text-align: center;
	max-width: 120px
}

#header-2 .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
	position: absolute;
	right: 20px;
	top: 30px;
	border: none;
}

#header-2 .navbar-toggle:focus {
	outline: none;
}

#header-2 .navbar-toggle .icon-bar {
	background-color: #999;
	height: 3px;
}

#header-2 .navbar-toggle:hover .icon-bar {
	background-color: #3498DB;
}

#header-2 .navbar-fixed-top .navbar-collapse {
	max-height: inherit;
	border-top: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#header-2 .main-nav .nav {
	margin-top: 20px;
}

#header-2 .main-nav.navbar.navbar-default.navbar-fixed-top{
	height: 78px;
}

#header-2 .main-nav .nav .nav-item a {
	font-family: "Montserrat-SemiBold", sans-serif;
	/*font-weight: 700;*/
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	background: none;
}

#header-2 .main-nav .nav .nav-item.active a {
	color: #000000;
}

#header-2 .main-nav .nav .nav-item a:hover {
	color: #000000;
}

#header-2 .main-nav .nav .nav-item a:focus {
	outline: none;
}

#header-2 .main-nav .nav .dropdown-menu {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 0;
	border: none;
	text-transform: none;
	min-width: 180px;
	backg round: #3E606F;
}

#header-2 .main-nav .nav .dropdown-menu a {
	padding: 8px 20px;
	color: #666;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

#header-2 .main-nav .nav .dropdown-menu a:hover {
	background: #3498DB;
	color: #fff;
}

/* Override bootstrap default */
/*
#header-2 .navbar-default {
	background-color: #f86029;
}
*/
.navbar-default{
	border: none;
}
#header-2 .main-nav .nav .open > a,
#header-2 .main-nav .nav .open > a:hover,
#header-2 .main-nav .nav .open > a:focus {
	background: none;
}

#header h1{
	/*background: black;*/
}

/*	PROMO BLOCK 3
/*----------------------------------------------------*/

.promo-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/banner.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 180px 0;
}

.promo-3 h1 {
	font-size: 60px;
	color: #ffffff;
}

.promo-3 h2 {
	font-weight: 600;
	color: #ffffff;
}

.promo-3 a {
	margin-top: 40px;
}

/*	CONTENT BLOCK 1-6
/*----------------------------------------------------*/

.content-1-6 h2 {
	margin-bottom: 40px !important;
}

.content-1-6 .client-row {
	overflow: hidden;
	text-align: center;
	line-height: 0;
}

.content-1-6 .client-row .col-md-3 {
	display: inline-block;
	min-height: 80px;
	line-height: 80px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.content-1-6 .client-row img {
	max-width: 140px;
	opacity: 0.3;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-backface-visibility: none;
}

.content-1-6 .client-row img:hover {
	opacity: 1;
}

.content-1-6 .client-row .row-wrapper {
	display: inline-block;
	width: 80%;
}

.content-1-6 .client-row:last-child .row-wrapper {
	border-bottom: none;
}

.content-1-6 .row-wrapper .col-md-3 {

}

.content-1-6 .row-wrapper .col-md-3:last-child {
	border-right: none;
}

/*	CONTENT BLOCK 2-2
/*----------------------------------------------------*/

.content-2-2 h3 { font-weight: 300; }
.content-2-2 h3, .content-2-2 p { color: #000000; }

.content-2-2 .icon-outline {
	height: 80px;
	width: 80px;
	max-width: 100%;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0 auto 50px;
	/*-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;*/
}

.content-2-2 .icon-outline:hover {
	box-shadow: 0 0 0 14px rgba(255,255,255,0.4);
	color: #fff;
}

.content-2-2 .icon-outline img{
	position: relative;
	top: 25px;
}
.content-2-2 .icon-outline span {
	line-height: 150px;
	color: #F4511D;
	font-size: 55px;
}

/*	CONTENT BLOCK 3-5
/*----------------------------------------------------*/

.content-3-5 .feature-box {
    background: #723147;
    margin: 20px 0;
    padding: 35px 30px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

.content-3-5 .feature-box:hover {
    background-color: #31152B;
}

.content-3-5 .feature-box .icon {
	height: 150px;
	width: 150px;
	max-width: 100%;
	background-color: #ffffff;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0 auto 25px;
}

.content-3-5 .feature-box .icon span {
	line-height: 150px;
	color: #723147;
	font-size: 55px;
}

.content-3-5 .feature-box p {
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
}

.content-3-5 .feature-box h3 {
    padding: 15px 0px 0px;
    color: #ffffff;
}

.content-3-5 .feature-box, .content-3-5 .feature-box:hover, .content-3-5 .feature-icon, .content-3-5 .feature-box:hover .feature-icon {
    transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -webkit-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
}

/*	CONTENT BLOCK 3-7
/*----------------------------------------------------*/

.content-3-7 .underlined-title {
	padding-bottom: 0;
}

.feature-box{
	/*background: #FFFFFF;*/
	/*height: 170px;*/
	/*border: 1px solid #CCCCCC;*/
	margin-top: 12px;
	padding: 0 16px;
}

#how-it-works img{
	height: 350px;
}

#testimonials h1{
	margin-bottom: 24px;
}

.testimonial-box{
	background: #FFFFFF;
	min-height: 360px;
	padding: 90px 20px;
	border: 1px solid #CCCCCC;
}

.testimonial-box small{
	letter-spacing: 1.5px;
}


/* Features section */
.icon {
	position: relative;
	top: 50px;
	text-align: center;
}

.icon span {
	font-size: 4em;
	color: #F4511D;
}

/* Join section */

#join{
	padding: 4.5em 0;
}

/*	CONTACT 1
/*----------------------------------------------------*/

#contact .underlined-title {
	background: #F4511D;
	height: 145px;
}

#contact .underlined-title .editContent {
	position: relative;
	top: 45px;
}

#contact .underlined-title h1{
	color: #FFFFFF;
}

#contact .form-container{
	    border: 1px solid #CCCCCC;
}

.contact-1 .form-container {
	margin-top: 60px;
}

.contact-1 .contact-info {
	margin-top: 40px;
	padding: 0;
	list-style: none;
}

.contact-1 .contact-info span {
	margin-right: 7px;
	color: #1abc9c;
	padding-right: 5px;
}

.contact-1 .contact-info li {
	display: inline-block;
	margin: 0 10px;
	font-size: 15px;
	font-weight: 700;
	color: #2e2e2e
}

.contact-1 .contact-info li a {
	color: #2e2e2e
}

.contact-1 .contact-info li a:hover {
	color: #1abc9c
}

#contact span.required {
	font-size: 13px;
	color: #ff0000;
}

#message {
	margin-bottom: 20px;
	padding: 0;
}

.error_message {
	display: block;
	background: #FBE3E4;
	padding: 10px 0;
	color: #8a1f11;
	border: 2px solid #FBC2C4;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}


/*	FOOTER 1-1
/*----------------------------------------------------*/

.footer-1-1 {
	padding-top: 60px;
	padding-bottom: 20px;
}

.footer-1-1 h3, .footer-1-1 h4, .footer-1-1 .lead, .footer-1-1 li {
	color: #ffffff;
}

.footer-1-1 .brand-img {
	width: 200px;
	margin-bottom: 30px;
}

.footer-1-1 h4 {
	margin-bottom: 20px;
}

.footer-1-1 ul {
	list-style-type: none;
	margin: 0 0 26px;
	padding: 0;
}

.footer-1-1 ul li {
	border-top: 1px solid #bdc3c7;
	line-height: 19px;
	padding: 6px 0;
}

.footer-1-1 li:first-child {
	border-top: none;
	padding-top: 1px;
}


/* MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {

	.icon{
		top: 0;
	}

	.feature-box{
		text-align: center;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}
